body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width:80%;
  margin: auto;
  overflow: hidden;
}
header {
  background: white;
  color: #ffffff;
  min-height: 10px;
  border: black 2px solid;
  width:100%;
}
header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}
header li{
  float:left;
  display: inline;
  padding: 0 20px;
}
header #logo {
  float:left;
  color:black;
}

header nav{
  float:right;
}

header .highlight, header .current a{
  color: rgba(49,54,255,0.5);
  font-weight:bold;
}
header a:hover{
  color: #cccccc;
  font-weight:bold;
}
.search-box{
  float: right;
  background: white;
  height:40px;
  border-radius: 40px;
}
.search-box:hover > .search-txt{
  width:100px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background:white;
}
.search-btn{
  color: rgba(49,54,255,0.5);
  float:right;
  width:40px;
  height:40px;
  border-radius:50%;
  background: white;
  display: flex;
  justify-content:center;
  align-items: center;
  transition: 2s;
}
.search-txt{
  border:none;
  background:none;
  outline:none;
  float:left;
  color:black;
  font-size:16px;
  transition: 2s;
  line-height: 40px;
  text-align: center;
  width:0;
}
.content{
  text-align: center;
}
#shortcut{
  position: relative;
  margin-top: 20px;
}
#shortcut .box{
  float:left;
  text-align: center;
  width:33%;

  margin-left: auto;
  display: inline-block;
  cursor: pointer;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: rgba(49,54,255,0.5);
  text-align: center;
}

input.textfield{
  padding: 12px 28px;
  border-radius: 48px;
  border-collapse: collapse;
  align-items: middle;
  background-color: #F5F5F5;
}
input.index{
  padding: 10px 24px;
  border-radius: 12px;
  width: 150px;
  color: rgba(255,255,255,0.7);
  background-color: rgba(49,54,255,0.5);
  font-weight: bold;
  text-align: center;
  border-color: #bddfeb;
  border-collapse:
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
a.index {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
}
button.index{
  padding: 10px 24px;
  border-radius: 12px;
  width: 150px;
  color: white;
  background-color: rgba(49,54,255,0.5);
  font-weight: bold;
  text-align: center;
  border-color: #bddfeb;
  border-collapse:
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-align: center;
}
#index {
  padding: 10px 24px;
  border-radius: 12px;
  width: 150px;
  color: white;
  background-color: rgba(49,54,255,0.5);
  font-weight: bold;
  text-align: center;
  border-color: #bddfeb;
  border-collapse:
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-align: center;
}
#login{
  width: 25%;
  font-weight: bold;
  font-style: helvetica;
  border-radius: 12px;
  border-style: ridge;
  background: #f2f5f6;
  background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top:150px;
  margin-bottom:150px;
  text-decoration: none;
}
div.thumbnail {
  width:20%;
  height:inherit;
  padding:5px;
  margin:15px auto;
  /*border:1px solid #cbcbcb;*/
  display: inline-block;
}
#catlink {
  text-decoration: none;
}
